*{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #333c57;
}

.header
{
	background-color: #1a1c2c;
}

.logo
{
	height: 60px;
	width: auto;
	margin: 12px;
}

.colorbar
{
	background-color: #b13e53;
}

.footer {
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "socialbar" "copyright"
}

.socialicon {
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    width: auto;
}

.socialBar {
    grid-area: socialbar;
}

.copyright {
    padding-top: 20px;
    grid-area: copyright;
}

.content
{
	background-color: #232738;
}

table
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

img
{
	width: 100%;
}

caption
{
	font-family: Arial, Helvetics, sans-serif;
	font-size: 70px;
	color: white;
}

td
{
	padding: 15px;
}

.desktopTable
{
	display: none;
}

/*tablet*/
@media screen and (min-width: 736px)
{
	.desktopTable
	{
		display: flex;
	}

	.mobileTable
	{
		display: none;
	}
}

/*desktop*/
@media screen and (min-width: 1000px)
{
	table
	{
		width: 900px;
	}

	td
	{
		width: 450%;
	}
}