*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #333c57;
}

.header
{
    background-color: #1a1c2c;
}

.logo
{
    height: 60px;
    width: auto;
    margin: 12px;
}

.colorbar
{
    background-color: #b13e53;
}

p {
    line-height: 2;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

h2 {
    font-family: jixel;
    color: #fff;
    padding-bottom: 20px

}

h1 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

.content {
    background-color: #232738;
    grid-area: content;
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "wrapper"
        "header"
        "content-block-1"
        "content-block-2"
        "content-block-3"
        "content-block-4"
}

.content-block-1 {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 20px;
    grid-area: content-block-1
}

.content-block-2 {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 20px;
    grid-area: content-block-2;

}

.content-block-3 {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    grid-area: content-block-3;

}

.content-block-4 {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 20px;
    grid-area: content-block-4;

}

.wrapper {
    background-color: #fff;
    display: block;
    margin: auto;
    width: 100%;
    grid-area: wrapper;
}

.footer {
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "socialbar" "copyright"
}

.socialicon {
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    width: auto;
}

.socialBar {
    grid-area: socialbar;
}

.copyright {
    padding-top: 20px;
    grid-area: copyright;
}

table
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img
{
    width: 100%;
}

td
{
    padding: 15px;
}

 /*tablet*/
@media screen and (min-width: 736px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "wrapper" 
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 735px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" 
        "content-block-1 content-block-1" 
        "content-block-2 content-block-2" 
        "content-block-3 content-block-3" 
    }

    .banner {
        height: 60px;
        width: auto;
    }

    ul li a {
        padding: 0 20px;

    }
}

/*desktop*/
@media screen and (min-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-areas: "wrapper"
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" 
        "content-block-1 content-block-1" 
        "content-block-2 content-block-2" 
        "content-block-3 content-block-3"
    }

    .banner {
        height: 60px;
        width: auto;
    }

    ul li a {
        padding: 0 20px;

    }
}
